.loading-map {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}


.btn-location {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-logo {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 100px;
}
